@using MarketplacePetProj.Repositories;
@model MarketplacePetProj.Models.Order
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <!-- Увеличил ширину до col-md-10 -->
            <h1 class="text-center mb-5">ВАША КОРЗИНА</h1>

            @if (Model.Products.Any())
            {
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var obj in Model.Products)
                            {
                                <tr>
                                    <td class="col">
                                        <img src="/productImage/@obj.ImageFileName" class="img-fluid mt-2" style="max-width: 150px;">
                                    </td>
                                    <td class="col">
                                        <h4>@obj.Name</h4>
                                        <p class="text-muted">@obj.Description</p>
                                    </td>
                                    <td class="text-center align-middle col">
                                        <h4>@obj.Price$</h4>
                                    </td>
                                    <td class="text-center align-middle col">
                                        <a asp-controller="Basket" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger btn-sm delete-btn" data-id="@obj.Id">
                                            <i class="bi bi-trash"></i>
                                            Удалить
                                       </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <a asp-controller="Basket" asp-action="PlaceOrder" asp-route-id="@Model.Id" class="btn btn-success btn-lg btn delete-btn">
                        <i class="bi bi-cart-check"></i>
                        <span class="fs-4">Оформить заказ</span>
                    </a>
                </div>
            }
            else
            {
                <h4 class="text-center mt-5">Ваша корзина пуста</h4>
            }
        </div>
    </div>
</div>
