@using Microsoft.AspNetCore.Identity
@model MarketplacePetProj.Models.Product

@{
    ViewData["Title"] = "Product Details";
}
@inject SignInManager<Client> SignInManager

<div class="card shadow-sm">
    <img class="card-img-top" src="~/productImage/@Model.ImageFileName" alt="Product Image">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">Цена: $@Model.Price</p>
        <p class="card-text">Количество: @Model.Quantity</p>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="row justify-content-between">
                <div class="col-auto">
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning ml-2 btn delete-btn">
                    <i class="fas fa-edit"></i> Изменить
                </a>
                    <a asp-controller="Home" asp-action="DeleteProduct" asp-route-id="@Model.Id" class="btn btn-outline-danger ml-2 btn delete-btn">
                    <i class="fas fa-trash-alt"></i> Удалить
                </a>
                </div>
                <div class="col-auto">
                    <a asp-controller="Home" asp-action="Basket" asp-route-id="@Model.Id" class="btn btn-success btn-lg btn delete-btn">
                        <i class="fas fa-cart-plus"></i> Добавить в корзину
                    </a>
                </div>
            </div>
        }
    </div>
</div>